<!DOCTYPE html>
<html>
  <head>
    <title>Live Streaming</title>
  </head>
  <body>
    <h1>Live Streaming</h1>

    <div id="app">
      <div id="hello">{{ message }}</div>
      <div v-for="f in frames">
        <img v-bind:id="`frame_${f}`" src="" />
        <div v-bind:id="`frame_count_${f}`">Frame count: {{ count }}</div>
      </div>
      <div>
        <button @click="startCamera">Start camera 0</button>
      </div>
    </div>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        data() {
          return {
            message: "Hello Vue!",
            frames: [0],
            count: 0,
          };
        },
        created() {
          // this.frames = [...this.frames, 1];
          this.fetchData();
        },
        methods: {
          fetchData() {
            const ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = (event) => {
              const image = document.getElementById("frame_0");
              image.src = URL.createObjectURL(event.data);
              this.count++;
              image.onload = () => {
                URL.revokeObjectURL(this.src); // release the blob URL once the image is loaded
              };
            };
          },
          async startCamera() {
            const response = await fetch(
              "http://127.0.0.1:8000/start-camera/",
              { method: "post", body: JSON.stringify({ camera_id: 0 }) }
            );
            const content = await response.json();
            console.log(content);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
