<!DOCTYPE html>
<html>
    <head>
        <title>Live Streaming</title>
    </head>
    <body>
      <h1>Live Streaming</h1>
        <img id="frame" src="">
        <script>
            const ws = new WebSocket("ws://localhost:8000/ws");
            const image = document.getElementById("frame");
            image.onload = () => {
                URL.revokeObjectURL(this.src); // release the blob URL once the image is loaded
            };
            ws.onmessage = (event) => {
                image.src = URL.createObjectURL(event.data);
            };
        </script>
    </body>
</html>
