<!DOCTYPE html>
<html>
  <head>
    <title>Live Streaming</title>
  </head>
  <body>
    <h1>Live Streaming</h1>

    <div id="app">
      <div>
        <h3>Camera statuses</h3>
        <div v-for="data in cameraStatus">
          <div v-bind:id="`status_${data[0]}`">
            {{ data[0] }} - {{ data[1] }}
          </div>
        </div>
      </div>
      <div>
        <h3>Camera streams</h3>
        <div v-for="camera in cameras">
          <img v-bind:id="`frame_${camera['cameraId']}`" src="" />
          <div v-bind:id="`frame_count_${camera['cameraId']}`">
            Frame count: {{ camera['frameCount'] }}
          </div>
        </div>
      </div>
      <div>
        <h3>Camera actions</h3>
        <div v-for="camera in cameras">
          <label style="padding-right: 10px">{{ camera["cameraId"] }}</label>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_PREPARE')"
          >
            Start
          </button>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_TURNOFF')"
          >
            Stop
          </button>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_RECORD')"
          >
            Start record
          </button>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_STOP_RECORD')"
          >
            Stop record
          </button>
        </div>
      </div>
    </div>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        data() {
          return {
            cameras: {},
            count: {},
          };
        },
        async mounted() {
          await this.fetchCameraData();
          this.initUpdates();
        },
        computed: {
          cameraStatus() {
            return Object.entries(this.cameras).map((c) => [
              c[1].name,
              c[1].status,
            ]);
          },
        },
        methods: {
          async fetchCameraData() {
            const response = await fetch("http://127.0.0.1:8000/camera-info/");
            const content = await response.json();
            this.cameras = content;
          },
          initUpdates() {
            const status_ws = new WebSocket(
              "ws://localhost:8000/status-updates"
            );
            status_ws.onmessage = (event) => {
              if (!event?.data) return;
              const payload = JSON.parse(event.data);
              if (payload.type == "status") {
                // payload.sender = route:camera_id e.g. 1:1
                this.cameras[payload.sender].status = payload.status;
              }
            };

            const sockets = Object.entries(this.cameras).map((value) => {
              const id = value[1].cameraId;
              const camera_ws = new WebSocket(
                `ws://localhost:8000/camera-stream/` + id
              );
              camera_ws.onmessage = (event) => {
                if (!event?.data) return;
                if (event.data instanceof Blob) {
                  // TODO: Fix id from frame count
                  this.cameras["1:" + id].frameCount++;
                  const image = document.getElementById(`frame_${id}`);
                  image.src = URL.createObjectURL(event.data);
                  image.onload = () => {
                    URL.revokeObjectURL(this.src);
                  };
                }
              };

              return camera_ws;
            });
          },
          async controlCamera(cameraId, state) {
            const response = await fetch(
              "http://127.0.0.1:8000/control-camera/",
              {
                method: "post",
                body: JSON.stringify({ camera_id: cameraId, state }),
              }
            );
            const content = await response.json();
            console.log(content);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
