<!DOCTYPE html>
<html>
  <head>
    <title>Live Streaming</title>
  </head>
  <body>
    <h1>Live Streaming</h1>

    <div id="app">
      <div>
        <h3>Camera statuses</h3>
        <div v-for="data in cameraStatus">
          <div v-bind:id="`status_${data[0]}`">
            {{ data[0] }} - {{ data[1] }}
          </div>
        </div>
      </div>
      <div>
        <h3>Camera streams</h3>
        <div v-for="camera in cameras">
          <image v-bind:id="`frame_${camera['cameraId']}`" src="" />
          <div v-bind:id="`frame_count_${camera['cameraId']}`">
            Frame count: {{ camera['frameCount'] }}
          </div>
        </div>
      </div>
      <div>
        <h3>Route actions</h3>
        <button @click="controlRoute(selectedRoute.routeId, 'start')">
          Start
        </button>
        <button @click="controlRoute(selectedRoute.routeId, 'stop')">
          Stop
        </button>
      </div>
      <div>
        <h3>Camera actions</h3>
        <div v-for="camera in cameras">
          <label style="padding-right: 10px">{{ camera["cameraId"] }}</label>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_PREPARE')"
          >
            Start
          </button>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_TURNOFF')"
          >
            Stop
          </button>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_RECORD')"
          >
            Start record
          </button>
          <button
            @click="controlCamera(camera['cameraId'], 'CAMERA_COMMAND_STOP_RECORD')"
          >
            Stop record
          </button>
        </div>
      </div>
      <div>
        <h3>Recorded videos</h3>
        <div>
          <select :required="true" v-model="videoFile">
            <option v-for="file in files" v-bind:value="file.name">
              {{ file.title }}
            </option>
          </select>
        </div>
        <div>
          <video width="360" :key="selectedVideoUrl" controls>
            <source :src="selectedVideoUrl" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        data() {
          return {
            routes: {},
            files: [],
            videoFile: "",
          };
        },
        async mounted() {
          await this.fetchRouteData();
          await this.fetchFileNames();
          this.initUpdates();
        },
        computed: {
          selectedRoute() {
            return this.routes[0];
          },
          selectedVideoUrl() {
            return `/video/${this.videoFile}`;
          },
          cameras() {
            const c = this.selectedRoute?.cameras;
            return c || {};
          },
          cameraStatus() {
            return Object.entries(this.cameras).map((c) => [
              c[1].name,
              c[1].status,
            ]);
          },
        },
        methods: {
          getCameraRoute(cameraId) {
            const foundRoute = this.routes.filter((r) =>
              Object.values(r.cameras)
                .map((c) => c.cameraId)
                .includes(cameraId)
            );
            return foundRoute[0];
          },
          async fetchRouteData() {
            const response = await fetch("/route-info/");
            const content = await response.json();
            this.routes = content;
          },
          async fetchFileNames() {
            const response = await fetch("/video-files/");
            if (!response.ok) return;

            const content = await response.json();
            this.files = content["files"].map((f) => ({
              title: f,
              name: f,
            }));
          },
          initUpdates() {
            const status_ws = new WebSocket(
              "ws://localhost:8000/status-updates"
            );
            status_ws.onmessage = (event) => {
              if (!event?.data) return;
              const payload = JSON.parse(event.data);
              if (payload.type == "status") {
                this.cameras[payload.cameraId].status = payload.status;
              }
            };

            const sockets = Object.entries(this.cameras).map((value) => {
              const cameraId = value[1].cameraId;
              // const route = this.getCameraRoute(cameraId);
              const camera_ws = new WebSocket(
                `ws://localhost:8000/camera-stream/${cameraId}`
              );
              camera_ws.onmessage = (event) => {
                if (!event?.data) return;
                if (event.data instanceof Blob) {
                  this.cameras[cameraId].frameCount++;
                  const image = document.getElementById(`frame_${cameraId}`);
                  image.src = URL.createObjectURL(event.data);
                  image.onload = () => {
                    URL.revokeObjectURL(this.src);
                  };
                }
              };

              return camera_ws;
            });
          },
          async controlCamera(cameraId, state) {
            const response = await fetch("/control-camera/", {
              method: "post",
              body: JSON.stringify({ cameraId, state }),
            });
            const content = await response.json();
            console.log(content);
          },
          async controlRoute(routeId, state) {
            const response = await fetch("/control-route/", {
              method: "post",
              body: JSON.stringify({ routeId, state }),
            });
            const content = await response.json();
            console.log(content);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
